<div class="container-fluid login-bg  full-height" [ngClass]="bgClass">
  <section class="login container full-height">
    <div class="row justify-content-center align-items-center full-height">
      <div class="col-12 col-sm-8 login-box">
        <h1 class="title-text">
          Tutti.
        </h1>
        <mat-tab-group [(selectedIndex)]="currentTab" dynamicHeight="true">
          <mat-tab label="Login">
            <div fxLayout="column" fxLayoutAlign="start stretch">
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  placeholder="Username"
                  [(ngModel)]="login.username"
                />
              </mat-form-field>

              <mat-form-field>
                <input
                  matInput
                  type="password"
                  placeholder="Password"
                  [(ngModel)]="login.password"
                />
              </mat-form-field>

              <button mat-raised-button (click)="submitLogin()">Login</button>
            </div>
          </mat-tab>

          <mat-tab label="Register">
            <div
              fxLayout="column"
              fxLayoutAlign="start stretch"
              [formGroup]="registerForm"
            >
              <mat-form-field>
                <input
                  matInput
                  type="text"
                  placeholder="Username"
                  formControlName="username"
                />
              </mat-form-field>

              <mat-form-field>
                <input
                  matInput
                  type="password"
                  placeholder="Password"
                  formControlName="password"
                  [errorStateMatcher]="passwordsMatcher"
                />
              </mat-form-field>

              <mat-form-field>
                <input
                  matInput
                  type="password"
                  placeholder="Comfirm password"
                  formControlName="confirmPassword"
                  [errorStateMatcher]="passwordsMatcher"
                />
              </mat-form-field>

              <mat-form-field>
                <input
                  matInput
                  type="text"
                  placeholder="Name"
                  formControlName="name"
                />
              </mat-form-field>

              <mat-form-field>
                <input
                  matInput
                  type="text"
                  placeholder="Surname"
                  formControlName="surname"
                />
              </mat-form-field>

              <mat-form-field>
                <mat-select placeholder="Role" formControlName="authority">
                  <mat-option value="STUDENT">
                    Student
                  </mat-option>
                  <mat-option value="TEACHER">
                    Teacher
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <input
                  matInput
                  type="text"
                  placeholder="Country"
                  formControlName="country"
                />
              </mat-form-field>

              <mat-form-field>
                <input
                  matInput
                  type="text"
                  placeholder="City"
                  formControlName="city"
                />
              </mat-form-field>

              <mat-form-field>
                <input
                  matInput
                  type="text"
                  placeholder="Email"
                  formControlName="mail"
                />
              </mat-form-field>

              <mat-form-field>
                <input
                  matInput
                  type="text"
                  placeholder="Phone Number"
                  formControlName="phone"
                />
              </mat-form-field>

              <button
                [disabled]="registerForm.invalid"
                mat-raised-button
                (click)="submitRegister()"
              >
                Register
              </button>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </section>

  <!-- 
    Photo by Engin Akyurt from Pexels
    
    Photo by Startup Stock Photos from Pexels
    
    -->
</div>
