<h1 mat-dialog-title>Lekcja z {{ data.name }} {{ data.surname }}</h1>
<div mat-dialog-content>
  <div fxLayout="row" fxLayoutAlign="start center">
    <p>Wybierz datę</p>
    <button mat-icon-button (click)="previousMonth()">
      <mat-icon>
        chevron_left
      </mat-icon>
    </button>
    <h3>
      {{ currentDate.toDate() | date: "MMM yyyy":null:"pl" }}
    </h3>
    <button mat-icon-button (click)="nextMonth()">
      <mat-icon>
        chevron_right
      </mat-icon>
    </button>
  </div>
  <nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let date of dates" (click)="onTabSelected(date)" [active]="date.isActive">
      {{ date.date.toDate() | date: "dd MMM yyyy":null:"pl" }}
    </a>
  </nav>
  <div *ngIf="appointmentDate$ | async as hours; else noElements">
    <ng-container *ngIf="hours.length > 0; else noElements">
      <button
        class="hour-button"
        mat-raised-button
        [color]="hour.isSelected ? 'primary' : ''"
        [disabled]="!hour.isAvailable"
        *ngFor="let hour of hours"
        (click)="hour.isSelected = !hour.isSelected; buttonSelected$.next()"
      >
        {{ hour.hour }}:00
      </button>
    </ng-container>
  </div>
  <ng-template #noElements>
    <div style="margin-top: 15px;">
      Nie znaleziono dostępnych godzin.
    </div>
  </ng-template>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
  <button mat-button cdkFocusInitial (click)="onNoClick()">Anuluj</button>
  <button mat-raised-button color="primary" [disabled]="!(isAnySelected$ | async)" (click)="addAppointment()">
    Ok
  </button>
</div>
