<section class="container" style="position: relative;">
  <indicator [indicator]="indicator"> </indicator>
  <div class="row">
    <div class="col-12">
      <article class="article mat-elevation-z8">
        <header fxLayout="column">
          <h1 class="article-title" color="primary">
            {{ article.title }}
          </h1>
          <time class="article-date">
            {{ article.createdAt | date: "EEEE, d MMMM y":null:"pl" }}
          </time>
        </header>
        <section class="article-content" [innerHTML]="article.content"></section>
        <footer class="article-footer" fxLayout="row" fxLayoutAlign="end center">
          <button mat-raised-button color="primary" [routerLink]="'../..'">Powrót</button>
          <button *ngIf="isAuthor" mat-raised-button color="primary" [routerLink]="'../../edit/' + article.id">
            Edytuj
          </button>
          <button *ngIf="isAuthor" mat-raised-button color="primary" (click)="onDelete(article.id)">Usuń</button>
        </footer>
      </article>
    </div>
  </div>
</section>
