<div fxLayout="row" fxLayoutAlign="start stretch">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width">
    <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
    </ng-container>

    <ng-container matColumnDef="dayOfTheWeek">
      <th mat-header-cell *matHeaderCellDef>Day of week</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="!element.isEdit; else dayOfTheWeek">
          {{ getDayName(element.dayOfTheWeek) }}
        </div>
        <ng-template #dayOfTheWeek>
          <mat-form-field>
            <mat-select [(ngModel)]="element.dayOfTheWeek" [disabled]="!element.isEdit">
              <mat-option *ngFor="let option of days" [value]="option.value">
                {{ option.key }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="hourBegin">
      <th mat-header-cell *matHeaderCellDef>Hour begin</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="!element.isEdit; else hourBegin">
          {{ element.hourBegin }}
        </div>
        <ng-template #hourBegin>
          <mat-form-field floatLabel="never">
            <input
              class="clock-control"
              [format]="24"
              placeholder="Enter date"
              matInput
              [ngxTimepicker]="hourBeginCtrl"
              readonly
              [(ngModel)]="element.hourBegin"
            />
            <ngx-material-timepicker color="primary" #hourBeginCtrl></ngx-material-timepicker>
          </mat-form-field>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="hourEnd">
      <th mat-header-cell *matHeaderCellDef>Salary per hour</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="!element.isEdit; else hourEnd">
          {{ element.hourEnd }}
        </div>
        <ng-template #hourEnd>
          <mat-form-field floatLabel="never">
            <input
              class="clock-control"
              [format]="24"
              placeholder="Enter date"
              matInput
              [ngxTimepicker]="hourEndCtrl"
              readonly
              [(ngModel)]="element.hourEnd"
            />
            <ngx-material-timepicker #hourEndCtrl></ngx-material-timepicker>
          </mat-form-field>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-icon-button (click)="onAdd()">
          <mat-icon> add </mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button *ngIf="!element.isEdit" (click)="onEdit(element)">
          <mat-icon> edit </mat-icon>
        </button>
        <button mat-icon-button *ngIf="element.isEdit" (click)="onSave(element)">
          <mat-icon> save </mat-icon>
        </button>
        <button mat-icon-button (click)="onDelete(element)">
          <mat-icon> delete </mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>
  </table>
</div>
