<mat-toolbar fxLayout="row" fxLayoutAlign="start center">
  <div class="logo">Tutti.</div>
  <div fxFlex></div>
  <nav mat-tab-nav-bar>
    <a
      mat-tab-link
      *ngFor="let link of navLinks"
      [routerLink]="link.path"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="rla.isActive"
    >
      {{ link.label }}
    </a>
  </nav>
  <div class="user" fxLayout="row" fxLayout="end center">
    <button mat-button>
      {{ username }}
    </button>
    <button mat-button (click)="logout()">
      <mat-icon>
        power_settings_new
      </mat-icon>
    </button>
  </div>
</mat-toolbar>
